/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
html,body{
    width: 100%;
    height: 100%;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*---------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------*/

body{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #ebebeb;
}
body *{
    box-sizing: border-box;
    -webkit-transition: all 1.5s ease; /* Safari */
            transition: all 1.5s ease;
}

video{
    position: absolute;
    top: 0px;
    width: 100%;
    height:100%;
    margin: 0px auto;
    opacity: 1;
    object-position: center bottom;
    object-fit: cover;
}
#inicio{
    width: 100%;
    height:100%;
    margin: 0px;
    padding: 0px;
    z-index: 50;
}
#intro{
    
}
#quees{
    position: absolute;
    top: 10%;
    left: -1200px;
    width: auto;
    height: 80%;
    margin: 0px auto;
    border-radius: 5%;
    cursor: pointer;
    -webkit-box-shadow: inset 5px 5px 15px -4px rgba(102,102,102,0.5);
    -moz-   box-shadow: inset 5px 5px 15px -4px rgba(102,102,102,0.5);
            box-shadow: inset 5px 5px 15px -4px rgba(102,102,102,0.5);
}
#fit{
    position: relative; 
    margin: 0px auto;

    /**/
    opacity: 1;
    /**/
}

/*---------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------*/
            /*---------------------------ATTRIBUTES----------------------------------*/
/*---------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------*/
.opaque{
    opacity: 1 !important;
}
.block{
    display: block !important;
}
.active{
    opacity: 1!important;
    display: block !important;
}
.center{
    margin: 0px auto;
}

/*---------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------*/
/*------------------------------------FIT-ELEMENTS---------------------------------------*/
/*---------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------*/


#borde{
    background-color: #CECECE;
    border: 5px solid #CECECE;
    z-Index: -100;
    -webkit-box-shadow: inset 5px 5px 15px -4px rgba(102,102,102,0.5);
    -moz-   box-shadow: inset 5px 5px 15px -4px rgba(102,102,102,0.5);
            box-shadow: inset 5px 5px 15px -4px rgba(102,102,102,0.5);
}
#menu{
    background-color: #fff;
    overflow: visible;
    cursor: pointer;
    -webkit-box-shadow: 5px 5px 15px -4px rgba(102,102,102,0.5);
    -moz-   box-shadow: 5px 5px 15px -4px rgba(102,102,102,0.5);
            box-shadow: 5px 5px 15px -4px rgba(102,102,102,0.5);
}
.main{
    position: absolute;
    top:    15%;
    left:   15%;
    width:  70%;
    height: 70%;    
    z-Index: 0;
    border-radius: 50%;
}
#menu .menuContainer{
    position: absolute;
    -webkit-transform: rotate(-36deg);
            transform: rotate(-36deg);
    -webkit-transform-origin: right bottom;
    -ms-    transform-origin: right bottom;
            transform-origin: right bottom;
}

.button{
    cursor: pointer;
}
#menu .button{
    position: absolute;
    padding: 10px;
    border-radius: 50%;
    opacity: 0;
    z-Index: -10;
    -webkit-box-shadow: 5px 5px 15px -4px rgba(102,102,102,0.5);
    -moz-   box-shadow: 5px 5px 15px -4px rgba(102,102,102,0.5);
            box-shadow: 5px 5px 15px -4px rgba(102,102,102,0.5);
}
#menu .button .inner{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.ico, .ico2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

/*-----------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------*/
            /*all active elements*/
/*-----------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------*/
#borde.active{
    position: absolute;
    top:  12%;
    left: 12%;
    width:  76%;
    height: 76%;
}
div#menu.active{
    cursor:initial!important;
}
#menu.active .button{
    opacity: 1 !important;
    z-Index: 0;
}
/*-----------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------*/
            /*display info*/
/*-----------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------*/

#info.active{
    top:  10%;
    left: 10%;
    background-color: #ffffff;
    width:  80%;
    height: 80%;
    z-Index: 10;
}

#menu.info .button{
    -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
            filter: blur(5px);
}



/*-----------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------*/
            /*active hover*/
/*-----------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------*/
.button:hover{
    -webkit-filter: blur(0px) !important;
            filter: blur(0px) !important;
}

/*--------------display info-----------*/
#info{
    opacity: 0;
    z-Index: -10;
}

#info>div{
    /*display: none;*/
}

#infoWrapper {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 50%;
}



#selectorWrapper{
    pointer-events: none;
    position: absolute;
    top: 0px;
    padding: 10px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-transition: none; /* Safari */
            transition: none;
}

#selector {
    pointer-events:all;
    width:  25%;
    height: 25%;
    padding: 10px;
    border-radius: 50%;
    -webkit-transition: none; /* Safari */
            transition: none;
    -webkit-box-shadow: 5px 5px 15px -4px rgba(102,102,102,0.5);
    -moz-   box-shadow: 5px 5px 15px -4px rgba(102,102,102,0.5);
            box-shadow: 5px 5px 15px -4px rgba(102,102,102,0.5);
}
#selector *{
    -webkit-transition: none !important; /* Safari */
            transition: none !important;
}
#selector.button .inner{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
#content {
    position: absolute;
    top: 0px;
    left: 0px;
    width:  96%;
    height: 96%;
    margin: 2%;
    border-radius: 50%;
    object-position: center center;
}
.inactive {
    display: none;
    background: #fff;
}

#videoWrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #fff;
    z-Index: -500;
}

.flecha {
    display: none;
    position: absolute;
    top: 45%;
    width: 2%;
    height: 10%;
    cursor: pointer;
}

#right {
    right: 2%;
    background-image: url(toRight.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#modalBackground {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 100;
}

#modal {
    width: auto;
    height: 100%;
    margin: 0px auto;
    object-position: center;
}

.modal {
    text-align:center;
    vertical-align:middle;"
}

#sorryMsg {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #afafaf;
    z-index: 20000;
}

#sorryMsgWrapper {
    text-align: center;
    width: 800px;
    height: 100%;
    margin: 0px auto;
    color: #fff;
}
#sorryMsgWrapper h2{
    text-align: left;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 15px;
}
#sorryMsgWrapper p{
    text-align: left;
    font-family: sans-serif;
    font-size: 20px;
    margin-bottom: 15px;
}
#sorryMsgWrapper ul, #sorryMsgWrapper ul li{
    margin-top: 50px;
    list-style: none;
    list-style-type: none;
}
#sorryMsgWrapper ul li p{
    text-align: center;
    
}
#sorryMsgWrapper ul li{
    text-align: center;
    display: inline-block;
    margin: 0 50px;
}
#sorryMsgWrapper li a img{
    width:  120px;
    height: 120px;
}
#sorryMsgWrapper a{
    text-decoration: none;    
}